<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servCheckLogIn</display-name>
    <servlet-name>servCheckLogIn</servlet-name>
    <servlet-class>pkgServlet.servCheckLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servCheckLogIn</servlet-name>
    <url-pattern>/servCheckLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servUploadVideo</display-name>
    <servlet-name>servUploadVideo</servlet-name>
    <servlet-class>pkgServlet.servUploadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servUploadVideo</servlet-name>
    <url-pattern>/servUploadVideo</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\apache-tomcat-7.0.41\apache-tomcat-7.0.41\webapps\data\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>servLogOut</display-name>
    <servlet-name>servLogOut</servlet-name>
    <servlet-class>pkgServlet.servLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servLogOut</servlet-name>
    <url-pattern>/servLogOut/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servRegistration</display-name>
    <servlet-name>servRegistration</servlet-name>
    <servlet-class>pkgServlet.servRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servRegistration</servlet-name>
    <url-pattern>/servRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRegField</display-name>
    <servlet-name>CheckRegField</servlet-name>
    <servlet-class>pkgServlet.CheckRegField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegField</servlet-name>
    <url-pattern>/CheckRegField</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv</display-name>
    <servlet-name>Serv</servlet-name>
    <servlet-class>pkgServlet.Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv</servlet-name>
    <url-pattern>/Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>pkgServlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>pkgServlet.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servPlayVideo</display-name>
    <servlet-name>servPlayVideo</servlet-name>
    <servlet-class>pkgServlet.servPlayVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servPlayVideo</servlet-name>
    <url-pattern>/servPlayVideo</url-pattern>
    <url-pattern>/Play</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tableShow</display-name>
    <servlet-name>tableShow</servlet-name>
    <servlet-class>pkgServlet.tableShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tableShow</servlet-name>
    <url-pattern>/tableShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servAllvideoSearch</display-name>
    <servlet-name>servAllvideoSearch</servlet-name>
    <servlet-class>pkgServlet.servAllvideoSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servAllvideoSearch</servlet-name>
    <url-pattern>/servAllvideoSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servDownloadVideo</display-name>
    <servlet-name>servDownloadVideo</servlet-name>
    <servlet-class>pkgServlet.servDownloadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servDownloadVideo</servlet-name>
    <url-pattern>/servDownloadVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newUpload</display-name>
    <servlet-name>newUpload</servlet-name>
    <servlet-class>pkgServlet.newUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUpload</servlet-name>
    <url-pattern>/newUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadVideo</display-name>
    <servlet-name>uploadVideo</servlet-name>
    <servlet-class>pkgServlet.uploadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadVideo</servlet-name>
    <url-pattern>/uploadVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servUpdateFile</display-name>
    <servlet-name>servUpdateFile</servlet-name>
    <servlet-class>pkgServlet.servUpdateFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servUpdateFile</servlet-name>
    <url-pattern>/servUpdateFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servDelete</display-name>
    <servlet-name>servDelete</servlet-name>
    <servlet-class>pkgServlet.servDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servDelete</servlet-name>
    <url-pattern>/servDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servModification</display-name>
    <servlet-name>servModification</servlet-name>
    <servlet-class>pkgServlet.servModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servModification</servlet-name>
    <url-pattern>/servModification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servParticularSearch</display-name>
    <servlet-name>servParticularSearch</servlet-name>
    <servlet-class>pkgServlet.servParticularSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servParticularSearch</servlet-name>
    <url-pattern>/servParticularSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servAdminParticularSearch</display-name>
    <servlet-name>servAdminParticularSearch</servlet-name>
    <servlet-class>pkgServlet.servAdminParticularSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servAdminParticularSearch</servlet-name>
    <url-pattern>/servAdminParticularSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servUsers</display-name>
    <servlet-name>servUsers</servlet-name>
    <servlet-class>pkgServlet.servUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servUsers</servlet-name>
    <url-pattern>/servUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminservAllvideoSearch</display-name>
    <servlet-name>AdminservAllvideoSearch</servlet-name>
    <servlet-class>pkgServlet.AdminservAllvideoSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminservAllvideoSearch</servlet-name>
    <url-pattern>/AdminservAllvideoSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servUserDelete</display-name>
    <servlet-name>servUserDelete</servlet-name>
    <servlet-class>pkgServlet.servUserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servUserDelete</servlet-name>
    <url-pattern>/servUserDelete</url-pattern>
  </servlet-mapping>
  
</web-app>